*~
.idea
.vscode
migrates
*/logs/*
config.cfg
*.sql
logs/*
*.log
*_packed.js
*_packed.css
*.orig
*.zip
nohup.out
.DS_Store
*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
#lib
#lib64
Pipfile.lock

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
.pytest_cache

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Complexity
output/*.html
output/*/index.html

# Sphinx
docs/_build

# Virtualenvs
env/


# Configuration
settings.py

# Development database
*.db

# UI
node_modules
dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock

# Editor directories and files
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
