*~
.idea
.vscode
migrates
config.cfg
*.log
*_packed.js
*_packed.css
*.orig
*.zip
nohup.out
.DS_Store
*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
#lib
#lib64
Pipfile.lock

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
.pytest_cache
cmdb-api/test-output
cmdb-api/api/uploaded_files

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Complexity
output/*.html
output/*/index.html

# Sphinx
docs/_build

# Virtualenvs
env/


# Configuration
settings.py

# Development database
*.db

# UI
cmdb-ui/node_modules
cmdb-ui/dist

# Log files
cmdb-ui/npm-debug.log*
cmdb-ui/yarn-debug.log*
cmdb-ui/yarn-error.log*
cmdb-ui/package-lock.json
