@font-face {
  font-family: "iconfont"; /* Project id 3857903 */
  src: url('iconfont.woff2?t=1711618200417') format('woff2'),
       url('iconfont.woff?t=1711618200417') format('woff'),
       url('iconfont.ttf?t=1711618200417') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Google_Cloud_Platform:before {
  content: "\e90b";
}

.Ctyun:before {
  content: "\e90c";
}

.Alibaba_Cloud:before {
  content: "\e90d";
}

.Azure:before {
  content: "\e90e";
}

.ZStack:before {
  content: "\e904";
}

.Tencent_Cloud:before {
  content: "\e905";
}

.Nutanix:before {
  content: "\e906";
}

.OpenStack:before {
  content: "\e907";
}

.Huawei_Cloud:before {
  content: "\e908";
}

.Bytecloud:before {
  content: "\e909";
}

.UCloud:before {
  content: "\e90a";
}

.AWS:before {
  content: "\e901";
}

.ECloud:before {
  content: "\e902";
}

.JDCloud:before {
  content: "\e903";
}

.veops-more:before {
  content: "\e900";
}

.duose-date:before {
  content: "\e8ff";
}

.duose-shishu:before {
  content: "\e8fd";
}

.duose-wenben:before {
  content: "\e8fe";
}

.duose-json:before {
  content: "\e8f7";
}

.duose-fudianshu:before {
  content: "\e8f8";
}

.duose-time:before {
  content: "\e8f9";
}

.duose-password:before {
  content: "\e8fa";
}

.duose-link:before {
  content: "\e8fb";
}

.duose-datetime:before {
  content: "\e8fc";
}

.veops-setting2:before {
  content: "\e8f6";
}

.veops-search:before {
  content: "\e8f5";
}

.veops-delete:before {
  content: "\e8f4";
}

.veops-refresh:before {
  content: "\e8f3";
}

.veops-filter:before {
  content: "\e8f2";
}

.veops-reduce:before {
  content: "\e8ed";
}

.veops-increase:before {
  content: "\e8ee";
}

.veops-configuration_table:before {
  content: "\e8ef";
}

.veops-copy:before {
  content: "\e8f0";
}

.veops-save:before {
  content: "\e8f1";
}

.veops-setting:before {
  content: "\e8ec";
}

.veops-default_avatar:before {
  content: "\e8ea";
}

.veops-notice:before {
  content: "\e8eb";
}

.itsm-quickStart:before {
  content: "\e8e9";
}

.itsm-associatedWith:before {
  content: "\e8e8";
}

.itsm-folder:before {
  content: "\e8e7";
}

.report:before {
  content: "\e8e5";
}

.folder:before {
  content: "\e8e6";
}

.itsm-refresh:before {
  content: "\e8e4";
}

.itsm-add_table:before {
  content: "\e8e2";
}

.itsm-delete_page:before {
  content: "\e8e3";
}

.oneterm-secret_key:before {
  content: "\e8e0";
}

.oneterm-password:before {
  content: "\e8e1";
}

.itsm-sla_timeout_not_handled:before {
  content: "\e8dd";
}

.itsm-sla_not_timeout:before {
  content: "\e8de";
}

.itsm-SLA:before {
  content: "\e8df";
}

.itsm-sla_timeout_handled:before {
  content: "\e8dc";
}

.itsm-sla_all:before {
  content: "\e8da";
}

.itsm-generate_by_node_id:before {
  content: "\e8db";
}

.cmdb-MySQL:before {
  content: "\e8d9";
}

.OAUTH2:before {
  content: "\e8d8";
}

.OIDC:before {
  content: "\e8d6";
}

.CAS:before {
  content: "\e8d7";
}

.ops-setting-auth:before {
  content: "\e8d5";
}

.ops-setting-auth-selected:before {
  content: "\e8d4";
}

.itsm-knowledge2:before {
  content: "\e8d2";
}

.itsm-qrdownload:before {
  content: "\e8d3";
}

.oneterm-playback:before {
  content: "\e8d1";
}

.oneterm-disconnect:before {
  content: "\e8d0";
}

.ops-oneterm-publickey-selected:before {
  content: "\e8cf";
}

.ops-oneterm-publickey:before {
  content: "\e8ce";
}

.ops-oneterm-gateway:before {
  content: "\e8b9";
}

.ops-oneterm-gateway-selected:before {
  content: "\e8bf";
}

.ops-oneterm-account:before {
  content: "\e8c0";
}

.ops-oneterm-account-selected:before {
  content: "\e8c1";
}

.ops-oneterm-command:before {
  content: "\e8c2";
}

.ops-oneterm-command-selected:before {
  content: "\e8c3";
}

.ops-oneterm-assetlist:before {
  content: "\e8c4";
}

.ops-oneterm-assetlist-selected:before {
  content: "\e8c5";
}

.ops-oneterm-sessiononline:before {
  content: "\e8c6";
}

.ops-oneterm-sessiononline-selected:before {
  content: "\e8c7";
}

.ops-oneterm-sessionhistory-selected:before {
  content: "\e8c8";
}

.ops-oneterm-sessionhistory:before {
  content: "\e8c9";
}

.ops-oneterm-login:before {
  content: "\e8ca";
}

.ops-oneterm-login-selected:before {
  content: "\e8cb";
}

.ops-oneterm-operation:before {
  content: "\e8cc";
}

.ops-oneterm-operation-selected:before {
  content: "\e8cd";
}

.ops-oneterm-workstation-selected:before {
  content: "\e8b7";
}

.ops-oneterm-workstation:before {
  content: "\e8b8";
}

.oneterm-file-selected:before {
  content: "\e8be";
}

.oneterm-file:before {
  content: "\e8bc";
}

.oneterm-time:before {
  content: "\e8bd";
}

.oneterm-download:before {
  content: "\e8bb";
}

.oneterm-commandrecord:before {
  content: "\e8ba";
}

.oneterm-asset:before {
  content: "\e8b6";
}

.oneterm-total_asset:before {
  content: "\e8b5";
}

.oneterm-switch:before {
  content: "\e8b4";
}

.oneterm-session:before {
  content: "\e8b3";
}

.oneterm-connect:before {
  content: "\e8b2";
}

.oneterm-login:before {
  content: "\e8b1";
}

.ops-oneterm-dashboard:before {
  content: "\e8af";
}

.ops-oneterm-dashboard-selected:before {
  content: "\e8b0";
}

.oneterm-recentsession:before {
  content: "\e8ae";
}

.oneterm-myassets:before {
  content: "\e8ad";
}

.ops-oneterm-log:before {
  content: "\e8aa";
}

.ops-oneterm-session-selected:before {
  content: "\e8ab";
}

.ops-oneterm-session:before {
  content: "\e8ac";
}

.ops-oneterm-log-selected:before {
  content: "\e8a9";
}

.ops-oneterm-assets:before {
  content: "\e8a7";
}

.ops-oneterm-assets-selected:before {
  content: "\e8a8";
}

.itsm-down:before {
  content: "\e8a5";
}

.itsm-up:before {
  content: "\e8a6";
}

.itsm-download:before {
  content: "\e8a4";
}

.itsm-print:before {
  content: "\e8a3";
}

.itsm-view:before {
  content: "\e8a2";
}

.itsm-word:before {
  content: "\e8a1";
}

.datainsight-custom:before {
  content: "\e89e";
}

.datainsight-prometheus:before {
  content: "\e89f";
}

.datainsight-zabbix:before {
  content: "\e8a0";
}

.setting-mainpeople:before {
  content: "\e89a";
}

.setting-deputypeople:before {
  content: "\e89d";
}

.ops-setting-duty:before {
  content: "\e89c";
}

.ops-setting-duty-selected:before {
  content: "\e89b";
}

.datainsight-sequential:before {
  content: "\e899";
}

.datainsight-close:before {
  content: "\e898";
}

.datainsight-handle:before {
  content: "\e897";
}

.datainsight-table:before {
  content: "\e896";
}

.icon-xianxing-password:before {
  content: "\e894";
}

.icon-xianxing-link:before {
  content: "\e895";
}

.itsm-download-all:before {
  content: "\e892";
}

.itsm-download-package:before {
  content: "\e893";
}

.a-Frame4:before {
  content: "\e891";
}

.itsm-again:before {
  content: "\e88f";
}

.itsm-next:before {
  content: "\e890";
}

.wechatApp:before {
  content: "\e88e";
}

.robot:before {
  content: "\e88b";
}

.feishuApp:before {
  content: "\e88c";
}

.dingdingApp:before {
  content: "\e88d";
}

.email:before {
  content: "\e88a";
}

.ops-setting-notice-feishu:before {
  content: "\e887";
}

.ops-setting-notice-feishu-selected:before {
  content: "\e888";
}

.cmdb-bar:before {
  content: "\e886";
}

.cmdb-count:before {
  content: "\e883";
}

.cmdb-pie:before {
  content: "\e884";
}

.cmdb-line:before {
  content: "\e885";
}

.cmdb-table:before {
  content: "\e882";
}

.itsm-all:before {
  content: "\e87f";
}

.itsm-reply:before {
  content: "\e87e";
}

.itsm-information:before {
  content: "\e880";
}

.itsm-contact:before {
  content: "\e881";
}

.itsm-my-my_already_handle:before {
  content: "\e87d";
}

.rule_7:before {
  content: "\e87c";
}

.itsm-my-completed:before {
  content: "\e879";
}

.itsm-my-plan:before {
  content: "\e87b";
}

.rule_100:before {
  content: "\e87a";
}

.itsm-flag:before {
  content: "\e878";
}

.itsm-recommend:before {
  content: "\e872";
}

.ops-help:before {
  content: "\e877";
}

.ops-help-hover:before {
  content: "\e876";
}

.itsm-knowledge-pending_examine:before {
  content: "\e875";
}

.itsm-knowledge-published:before {
  content: "\e874";
}

.itsm-knowledge-submitted:before {
  content: "\e871";
}

.itsm-knowledge-deleted:before {
  content: "\e873";
}

.itsm-knowledge:before {
  content: "\e870";
}

.ops-itsm-ticketsetting-selected:before {
  content: "\e860";
}

.ops-itsm-reports-selected:before {
  content: "\e861";
}

.ops-itsm-servicecatalog-selected:before {
  content: "\e862";
}

.ops-itsm-ticketmanage-selected:before {
  content: "\e863";
}

.ops-itsm-knowledge-selected:before {
  content: "\e864";
}

.ops-itsm-workstation-selected:before {
  content: "\e865";
}

.ops-itsm-servicedesk-selected:before {
  content: "\e866";
}

.ops-itsm-planticket-selected:before {
  content: "\e867";
}

.ops-itsm-servicecatalog:before {
  content: "\e868";
}

.ops-itsm-ticketmanage:before {
  content: "\e869";
}

.ops-itsm-reports:before {
  content: "\e86a";
}

.ops-itsm-knowledge:before {
  content: "\e86b";
}

.ops-itsm-planticket:before {
  content: "\e86c";
}

.ops-itsm-ticketsetting:before {
  content: "\e86d";
}

.ops-itsm-servicedesk:before {
  content: "\e86e";
}

.ops-itsm-workstation:before {
  content: "\e86f";
}

.monitor-webPerf:before {
  content: "\e84f";
}

.a-monitor-image1:before {
  content: "\e857";
}

.monitor-other:before {
  content: "\e85c";
}

.monitor-font:before {
  content: "\e85d";
}

.monitor-css:before {
  content: "\e85a";
}

.monitor-html:before {
  content: "\e85b";
}

.monitor-video:before {
  content: "\e855";
}

.monitor-js:before {
  content: "\e856";
}

.monitor-audio:before {
  content: "\e858";
}

.monitor-text:before {
  content: "\e859";
}

.monitor-jiancedian:before {
  content: "\e853";
}

.monitor-zongfenhegexiangpingfen:before {
  content: "\e854";
}

.monitor-dig:before {
  content: "\e84d";
}

.monitor-dns:before {
  content: "\e84e";
}

.monitor-traceroute:before {
  content: "\e850";
}

.monitor-mtr:before {
  content: "\e851";
}

.monitor-websocket:before {
  content: "\e852";
}

.webPerf-copy:before {
  content: "\e85e";
}

.yuansuxingneng:before {
  content: "\e841";
}

.zhujijiankong:before {
  content: "\e842";
}

.zhujiqiang:before {
  content: "\e843";
}

.xingnengpinggu:before {
  content: "\e844";
}

.wodekanban:before {
  content: "\e845";
}

.wangzhanjiankong:before {
  content: "\e846";
}

.tongji:before {
  content: "\e847";
}

.wangyexingneng:before {
  content: "\e848";
}

.wangluotuobu:before {
  content: "\e849";
}

.shishizhuangtai:before {
  content: "\e84a";
}

.gailan:before {
  content: "\e84b";
}

.zonglan:before {
  content: "\e84c";
}

.itsm-workstation-fast:before {
  content: "\e838";
}

.itsm-workstation-handle:before {
  content: "\e839";
}

.itsm-stop_hang_up:before {
  content: "\e83a";
}

.itsm-workstation-overview:before {
  content: "\e83b";
}

.itsm-workstation-inform:before {
  content: "\e83c";
}

.itsm-workstation-notice:before {
  content: "\e83d";
}

.itsm-workstation-todolist:before {
  content: "\e83e";
}

.itsm-workstation-duty:before {
  content: "\e83f";
}

.itsm-workstation-initiate:before {
  content: "\e840";
}

.itsm-my-my_initiate:before {
  content: "\e835";
}

.itsm-my-my_handle:before {
  content: "\e85f";
}

.itsm-my-draft:before {
  content: "\e831";
}

.itsm-my-all:before {
  content: "\e832";
}

.itsm-my-in_process:before {
  content: "\e833";
}

.itsm-my-my_todo:before {
  content: "\e834";
}

.itsm-my-share:before {
  content: "\e836";
}

.itsm-my-pending_claim:before {
  content: "\e837";
}

.itsm-log-ABORTED:before {
  content: "\e830";
}

.itsm-log-FAILED:before {
  content: "\e82d";
}

.itsm-log-SUCCESS:before {
  content: "\e82e";
}

.itsm-log-ERROR:before {
  content: "\e82f";
}

.itsm-service-type:before {
  content: "\e82b";
}

.itsm-my:before {
  content: "\e82c";
}

.ops-monitor-hostwall:before {
  content: "\e829";
}

.ops-monitor-hostwall-setting:before {
  content: "\e82a";
}

.shouquanyonghubumentubiao:before {
  content: "\e828";
}

.itsm-baseInfo:before {
  content: "\e81f";
}

.itsm-association:before {
  content: "\e820";
}

.itsm-handleInfo:before {
  content: "\e821";
}

.itsm-intelligence:before {
  content: "\e822";
}

.itsm-leaveMess:before {
  content: "\e823";
}

.itsm-log:before {
  content: "\e824";
}

.itsm-solution:before {
  content: "\e825";
}

.itsm-sla:before {
  content: "\e826";
}

.itsm-naire:before {
  content: "\e827";
}

.itsm-claim:before {
  content: "\e817";
}

.itsm-hang_up:before {
  content: "\e818";
}

.itsm-flow_chart:before {
  content: "\e819";
}

.itsm-export:before {
  content: "\e81a";
}

.itsm-reminder:before {
  content: "\e81b";
}

.itsm-share:before {
  content: "\e81c";
}

.itsm-terminate:before {
  content: "\e81d";
}

.itsm-transfer:before {
  content: "\e81e";
}

.ops-cmdb-customdashboard-selected:before {
  content: "\e80b";
}

.ops-cmdb-adr-selected:before {
  content: "\e80c";
}

.ops-cmdb-operation:before {
  content: "\e80d";
}

.ops-cmdb-customdashboard:before {
  content: "\e80e";
}

.ops-cmdb-adr:before {
  content: "\e80f";
}

.ops-cmdb-preferencerelation-selected:before {
  content: "\e810";
}

.ops-cmdb-operation-selected:before {
  content: "\e811";
}

.ops-cmdb-preferencerelation:before {
  content: "\e812";
}

.ops-cmdb-modelrelation:before {
  content: "\e813";
}

.ops-cmdb-modelrelation-selected:before {
  content: "\e814";
}

.ops-cmdb-relationtype-selected:before {
  content: "\e815";
}

.ops-cmdb-relationtype:before {
  content: "\e816";
}

.ops-cmdb-batch-selected:before {
  content: "\e803";
}

.ops-cmdb-batch:before {
  content: "\e80a";
}

.ops-cmdb-adc-selected:before {
  content: "\e7f7";
}

.ops-cmdb-resource-selected:before {
  content: "\e7f8";
}

.ops-cmdb-preference-selected:before {
  content: "\e7f9";
}

.ops-cmdb-preference:before {
  content: "\e7fa";
}

.ops-cmdb-screen:before {
  content: "\e7fb";
}

.ops-cmdb-tree-selected:before {
  content: "\e7fc";
}

.ops-cmdb-relation-selected:before {
  content: "\e7fd";
}

.ops-cmdb-adc:before {
  content: "\e7fe";
}

.ops-cmdb-search-selected:before {
  content: "\e7ff";
}

.ops-cmdb-relation:before {
  content: "\e800";
}

.ops-cmdb-tree:before {
  content: "\e801";
}

.ops-cmdb-citype-selected:before {
  content: "\e802";
}

.ops-cmdb-dashboard-selected:before {
  content: "\e804";
}

.ops-cmdb-citype:before {
  content: "\e805";
}

.ops-cmdb-dashboard:before {
  content: "\e806";
}

.ops-cmdb-screen-selected:before {
  content: "\e807";
}

.ops-cmdb-resource:before {
  content: "\e808";
}

.ops-cmdb-search:before {
  content: "\e809";
}

.icon-itsm-20:before {
  content: "\e7ed";
}

.icon-itsm-23:before {
  content: "\e7ee";
}

.icon-itsm-22:before {
  content: "\e7ef";
}

.icon-itsm-21:before {
  content: "\e7f0";
}

.icon-itsm-24:before {
  content: "\e7f1";
}

.icon-itsm-25:before {
  content: "\e7f2";
}

.icon-itsm-26:before {
  content: "\e7f3";
}

.icon-itsm-28:before {
  content: "\e7f4";
}

.icon-itsm-27:before {
  content: "\e7f5";
}

.icon-itsm-29:before {
  content: "\e7f6";
}

.icon-itsm-16:before {
  content: "\e7e9";
}

.icon-itsm-17:before {
  content: "\e7ea";
}

.icon-itsm-18:before {
  content: "\e7eb";
}

.icon-itsm-19:before {
  content: "\e7ec";
}

.icon-itsm-9:before {
  content: "\e7e2";
}

.icon-itsm-10:before {
  content: "\e7e3";
}

.icon-itsm-11:before {
  content: "\e7e4";
}

.icon-itsm-12:before {
  content: "\e7e5";
}

.icon-itsm-13:before {
  content: "\e7e6";
}

.icon-itsm-14:before {
  content: "\e7e7";
}

.icon-itsm-15:before {
  content: "\e7e8";
}

.icon-itsm-4:before {
  content: "\e7dd";
}

.icon-itsm-6:before {
  content: "\e7de";
}

.icon-itsm-8:before {
  content: "\e7df";
}

.icon-itsm-5:before {
  content: "\e7e0";
}

.icon-itsm-7:before {
  content: "\e7e1";
}

.icon-itsm-3:before {
  content: "\e7dc";
}

.icon-itsm-1:before {
  content: "\e7da";
}

.icon-itsm-2:before {
  content: "\e7db";
}

.icon-shidi-aws:before {
  content: "\e7d8";
}

.icon-xianxing-aws:before {
  content: "\e7d9";
}

.caise-aws:before {
  content: "\e7d7";
}

.icon-xianxing-dayinji:before {
  content: "\e7d3";
}

.icon-shidi-dayinji:before {
  content: "\e7d4";
}

.icon-shidi-chajian:before {
  content: "\e7d5";
}

.icon-xianxing-chajian:before {
  content: "\e7d6";
}

.caise-dayinji:before {
  content: "\e7d1";
}

.caise-chajian:before {
  content: "\e7d2";
}

.itsm-service-all:before {
  content: "\e7cf";
}

.itsm-service-common:before {
  content: "\e7d0";
}

.itsm-upload:before {
  content: "\e7bc";
}

.itsm-code:before {
  content: "\e7bd";
}

.itsm-paragraph:before {
  content: "\e7be";
}

.itsm-department:before {
  content: "\e7bf";
}

.itsm-phone:before {
  content: "\e7c0";
}

.itsm-employee:before {
  content: "\e7c1";
}

.itsm-description:before {
  content: "\e7c2";
}

.itsm-rich:before {
  content: "\e7c3";
}

.itsm-image:before {
  content: "\e7c4";
}

.itsm-start-end:before {
  content: "\e7c5";
}

.itsm-single-select:before {
  content: "\e7c6";
}

.itsm-link:before {
  content: "\e7c7";
}

.itsm-date:before {
  content: "\e7c8";
}

.itsm-input:before {
  content: "\e7c9";
}

.itsm-textarea:before {
  content: "\e7ca";
}

.itsm-input-number:before {
  content: "\e7cb";
}

.itsm-multiple-select:before {
  content: "\e7cc";
}

.itsm-email:before {
  content: "\e7cd";
}

.itsm-table:before {
  content: "\e7ce";
}

.itsm-service:before {
  content: "\e7ba";
}

.itsm-change:before {
  content: "\e7b8";
}

.itsm-problem:before {
  content: "\e7b9";
}

.itsm-event:before {
  content: "\e7bb";
}

.itsm_approve_config:before {
  content: "\e7b1";
}

.itsm_execute_user:before {
  content: "\e7b2";
}

.itsm_notice_config:before {
  content: "\e7b3";
}

.itsm_timeout:before {
  content: "\e7b4";
}

.itsm_func_config:before {
  content: "\e7b5";
}

.itsm_time_config:before {
  content: "\e7b6";
}

.itsm_auto_trigger:before {
  content: "\e7b7";
}

.icon-xianxing-copy:before {
  content: "\e7b0";
}

.itsm-node-examine:before {
  content: "\e7aa";
}

.itsm-node-branch:before {
  content: "\e7ab";
}

.itsm-node-auto:before {
  content: "\e7ac";
}

.itsm-node-end:before {
  content: "\e7ad";
}

.itsm-node-start:before {
  content: "\e7ae";
}

.itsm-node-manual:before {
  content: "\e7af";
}

.icon-xianxing-delete:before {
  content: "\e7a9";
}

.icon-xianxing-edit:before {
  content: "\e7a8";
}

.monitor-base:before {
  content: "\e721";
}

.setting-structure-depart1:before {
  content: "\e71e";
}

.setting-structure-depart2:before {
  content: "\e71f";
}

.caise-bat:before {
  content: "\e7a4";
}

.caise-powershell:before {
  content: "\e7a5";
}

.caise-shell:before {
  content: "\e7a6";
}

.ops-setting-role-selected:before {
  content: "\e7a0";
}

.ops-setting-group-selected:before {
  content: "\e7a1";
}

.ops-setting-role:before {
  content: "\e7a2";
}

.ops-setting-group:before {
  content: "\e7a3";
}

.ops-setting-technician:before {
  content: "\e79e";
}

.ops-setting-user:before {
  content: "\e79f";
}

.monitor-clickhouse:before {
  content: "\e78e";
}

.monitor-ping:before {
  content: "\e78f";
}

.monitor-zabbix:before {
  content: "\e790";
}

.monitor-snmp:before {
  content: "\e791";
}

.monitor-http_response:before {
  content: "\e792";
}

.monitor-execd:before {
  content: "\e793";
}

.monitor-net_response:before {
  content: "\e794";
}

.monitor-ipmi:before {
  content: "\e795";
}

.monitor-exec:before {
  content: "\e796";
}

.monitor-redis:before {
  content: "\e797";
}

.monitor-mongodb:before {
  content: "\e798";
}

.monitor-mysql:before {
  content: "\e799";
}

.monitor-http:before {
  content: "\e79a";
}

.monitor-log:before {
  content: "\e79b";
}

.monitor-process:before {
  content: "\e79c";
}

.monitor-elasticsearch:before {
  content: "\e79d";
}

.ops-setting-role-system:before {
  content: "\e78c";
}

.ops-setting-role-system-selected:before {
  content: "\e78d";
}

.ops-datainsight-audit:before {
  content: "\e780";
}

.ops-datainsight-audit-selected:before {
  content: "\e781";
}

.ops-datainsight-dashboard-selected:before {
  content: "\e782";
}

.ops-datainsight-dashboard:before {
  content: "\e783";
}

.ops-datainsight-method:before {
  content: "\e784";
}

.ops-datainsight-method-selected:before {
  content: "\e785";
}

.ops-datainsight-rule-selected:before {
  content: "\e786";
}

.ops-datainsight-rule:before {
  content: "\e787";
}

.ops-datainsight-origin-selected:before {
  content: "\e788";
}

.ops-datainsight-origin:before {
  content: "\e789";
}

.ops-datainsight-alert:before {
  content: "\e78a";
}

.ops-datainsight-alert-selected:before {
  content: "\e78b";
}

.rule_6:before {
  content: "\e77e";
}

.icon-xianxing-shenji:before {
  content: "\e77f";
}

.rule_3:before {
  content: "\e77c";
}

.rule_5:before {
  content: "\e77d";
}

.rule_1:before {
  content: "\e778";
}

.rule_8:before {
  content: "\e779";
}

.rule_2:before {
  content: "\e77a";
}

.rule_4:before {
  content: "\e77b";
}

.level_4:before {
  content: "\e774";
}

.level_3:before {
  content: "\e775";
}

.level_1:before {
  content: "\e776";
}

.level_2:before {
  content: "\e777";
}

.ops-setting-system:before {
  content: "\e773";
}

.caise-huaweiyun:before {
  content: "\e75f";
}

.caise-fuzaijunheng:before {
  content: "\e760";
}

.caise-jiaohuanji:before {
  content: "\e761";
}

.caise-luyouqi:before {
  content: "\e762";
}

.caise-bumen:before {
  content: "\e763";
}

.caise-xuniji:before {
  content: "\e764";
}

.caise-yingyong:before {
  content: "\e765";
}

.caise-nginx:before {
  content: "\e766";
}

.caise-tengxunyun:before {
  content: "\e767";
}

.caise-chanpin:before {
  content: "\e768";
}

.caise-fanghuoqiang:before {
  content: "\e769";
}

.caise-docker:before {
  content: "\e76a";
}

.caise-yingpan:before {
  content: "\e76b";
}

.caise-wuliji:before {
  content: "\e76c";
}

.caise-wangka:before {
  content: "\e76d";
}

.caise-neicun:before {
  content: "\e76e";
}

.caise-aliyun:before {
  content: "\e76f";
}

.caise-apache:before {
  content: "\e770";
}

.caise-redis:before {
  content: "\e771";
}

.caise-tomcat:before {
  content: "\e772";
}

.icon-xianxing-fanghuoqiang:before {
  content: "\e746";
}

.icon-shidi-fanghuoqiang:before {
  content: "\e750";
}

.icon-shidi-jiaohuanji:before {
  content: "\e74b";
}

.icon-shidi-fuzaijunheng:before {
  content: "\e74c";
}

.icon-shidi-neicun:before {
  content: "\e74d";
}

.icon-shidi-wuliji:before {
  content: "\e74e";
}

.icon-shidi-luyouqi:before {
  content: "\e74f";
}

.icon-shidi-yingpan:before {
  content: "\e751";
}

.icon-shidi-chanpin:before {
  content: "\e752";
}

.icon-shidi-yingyong:before {
  content: "\e753";
}

.icon-shidi-nginx:before {
  content: "\e754";
}

.icon-shidi-docker:before {
  content: "\e755";
}

.icon-shidi-wangka:before {
  content: "\e756";
}

.icon-shidi-apache:before {
  content: "\e757";
}

.icon-shidi-redis:before {
  content: "\e758";
}

.icon-shidi-tomcat:before {
  content: "\e759";
}

.icon-shidi-xuniji:before {
  content: "\e75a";
}

.icon-shidi-bumen:before {
  content: "\e75b";
}

.icon-shidi-huaweiyun:before {
  content: "\e75c";
}

.icon-shidi-tengxunyun:before {
  content: "\e75d";
}

.icon-shidi-aliyun:before {
  content: "\e75e";
}

.icon-xianxing-bumen:before {
  content: "\e668";
}

.icon-xianxing-fuzaijunheng:before {
  content: "\e669";
}

.icon-xianxing-jiaohuanji:before {
  content: "\e739";
}

.icon-xianxing-chanpin:before {
  content: "\e73a";
}

.icon-xianxing-huaweiyun:before {
  content: "\e73b";
}

.icon-xianxing-wuliji:before {
  content: "\e73c";
}

.icon-xianxing-yingyong:before {
  content: "\e73d";
}

.icon-xianxing-luyouqi:before {
  content: "\e73e";
}

.icon-xianxing-wangka:before {
  content: "\e73f";
}

.icon-xianxing-nginx:before {
  content: "\e740";
}

.icon-xianxing-aliyun:before {
  content: "\e741";
}

.icon-xianxing-xuniji:before {
  content: "\e742";
}

.icon-xianxing-yingpan:before {
  content: "\e743";
}

.icon-xianxing-apache:before {
  content: "\e744";
}

.icon-xianxing-docker:before {
  content: "\e745";
}

.icon-xianxing-redis:before {
  content: "\e747";
}

.icon-xianxing-neicun:before {
  content: "\e748";
}

.icon-xianxing-tomcat:before {
  content: "\e749";
}

.icon-xianxing-tengxunyun:before {
  content: "\e74a";
}

.ops-dot-copy:before {
  content: "\e7a7";
}

.ops-review:before {
  content: "\e737";
}

.ops-dot:before {
  content: "\e738";
}

.ops-setting-notice-email-selected-copy:before {
  content: "\e889";
}

.ops-setting-notice:before {
  content: "\e72f";
}

.ops-setting-notice-selected:before {
  content: "\e730";
}

.ops-setting-notice-email-selected:before {
  content: "\e731";
}

.ops-setting-notice-email:before {
  content: "\e732";
}

.ops-setting-notice-dingding-selected:before {
  content: "\e733";
}

.ops-setting-notice-dingding:before {
  content: "\e734";
}

.ops-setting-notice-wx-selected:before {
  content: "\e735";
}

.ops-setting-notice-wx:before {
  content: "\e736";
}

.ops-setting-companyStructure-selected:before {
  content: "\e72b";
}

.ops-setting-companyStructure:before {
  content: "\e72c";
}

.ops-setting-companyInfo:before {
  content: "\e72d";
}

.ops-setting-companyInfo-selected:before {
  content: "\e72e";
}

.ops-email:before {
  content: "\e61a";
}

.ops-history:before {
  content: "\e61d";
}

.ops-menu:before {
  content: "\e725";
}

.ops-run:before {
  content: "\e726";
}

.ops-save:before {
  content: "\e727";
}

.ops-environment:before {
  content: "\e728";
}

.ops-plus:before {
  content: "\e729";
}

.ops-type_setting:before {
  content: "\e72a";
}

.icon-shidi-shell1:before {
  content: "\e722";
}

.icon-shidi-bat1:before {
  content: "\e723";
}

.icon-shidi-powershell1:before {
  content: "\e724";
}

.icon-xianxing-bat:before {
  content: "\e70f";
}

.icon-xianxing-powershell:before {
  content: "\e710";
}

.icon-xianxing-shell:before {
  content: "\e711";
}

.caise-redhat:before {
  content: "\e717";
}

.caise-Ubuntu:before {
  content: "\e71b";
}

.caise-zaixian:before {
  content: "\e71c";
}

.caise-xiaxian:before {
  content: "\e71d";
}

.caise-centos:before {
  content: "\e720";
}

.icon-shidi-zaixian:before {
  content: "\e712";
}

.icon-shidi-redhat:before {
  content: "\e713";
}

.icon-shidi-bat:before {
  content: "\e714";
}

.icon-shidi-shell:before {
  content: "\e715";
}

.icon-shidi-xiaxian:before {
  content: "\e716";
}

.icon-shidi-Ubuntu:before {
  content: "\e718";
}

.icon-shidi-centos:before {
  content: "\e719";
}

.icon-shidi-powershell:before {
  content: "\e71a";
}

.icon-xianxing-zaixian:before {
  content: "\e70b";
}

.icon-xianxing-Ubuntu:before {
  content: "\e70c";
}

.icon-xianxing-xiaxian:before {
  content: "\e70d";
}

.icon-xianxing-centos:before {
  content: "\e70e";
}

.icon-xianxing-redhat:before {
  content: "\e70a";
}

.caise-shishu:before {
  content: "\e705";
}

.caise-wenben:before {
  content: "\e706";
}

.caise-json:before {
  content: "\e707";
}

.caise-datetime:before {
  content: "\e708";
}

.caise-fudianshu:before {
  content: "\e709";
}

.caise-time:before {
  content: "\e703";
}

.caise-date:before {
  content: "\e704";
}

.icon-shidi-fudianshu:before {
  content: "\e6fc";
}

.icon-shidi-json:before {
  content: "\e6fd";
}

.icon-shidi-time:before {
  content: "\e6fe";
}

.icon-shidi-wenben:before {
  content: "\e6ff";
}

.icon-shidi-date:before {
  content: "\e700";
}

.icon-shidi-datetime:before {
  content: "\e701";
}

.icon-shidi-shishu:before {
  content: "\e702";
}

.icon-xianxing-time:before {
  content: "\e6f5";
}

.icon-xianxing-date:before {
  content: "\e6f6";
}

.icon-xianxing-fudianshu:before {
  content: "\e6f7";
}

.icon-xianxing-wenben:before {
  content: "\e6f8";
}

.icon-xianxing-shishu:before {
  content: "\e6f9";
}

.icon-xianxing-datetime:before {
  content: "\e6fa";
}

.icon-xianxing-json:before {
  content: "\e6fb";
}

.ops-is_choice-disabled:before {
  content: "\e611";
}

.ops-is_password-disabled:before {
  content: "\e612";
}

.ops-is_index-disabled:before {
  content: "\e613";
}

.ops-is_sortable-disabled:before {
  content: "\e614";
}

.ops-is_unique-disabled:before {
  content: "\e617";
}

.ops-is_link-disabled:before {
  content: "\e619";
}

.ops-trigger:before {
  content: "\e607";
}

.ops-default_show-disabled:before {
  content: "\e610";
}

.caise-tianjia:before {
  content: "\e6eb";
}

.caise-shuoming:before {
  content: "\e6ec";
}

.caise-zanting:before {
  content: "\e6ed";
}

.caise-queren:before {
  content: "\e6ee";
}

.caise-jinggao:before {
  content: "\e6ef";
}

.caise-jianqu:before {
  content: "\e6f0";
}

.caise-chulizhong:before {
  content: "\e6f1";
}

.caise-quxiao:before {
  content: "\e6f2";
}

.caise-yiwen:before {
  content: "\e6f3";
}

.caise-jinzhi:before {
  content: "\e6f4";
}

.caise-shoucang:before {
  content: "\e6d6";
}

.caise-weixiu:before {
  content: "\e6d7";
}

.caise-weirenzheng:before {
  content: "\e6d8";
}

.caise-erweima:before {
  content: "\e6d9";
}

.caise-yonghu:before {
  content: "\e6da";
}

.caise-baojing:before {
  content: "\e6db";
}

.caise-tianjiayonghu:before {
  content: "\e6dc";
}

.caise-yunshuju:before {
  content: "\e6dd";
}

.caise-xiaoxi:before {
  content: "\e6de";
}

.caise-yunshangchuan:before {
  content: "\e6df";
}

.caise-guankan:before {
  content: "\e6e0";
}

.caise-dingwei:before {
  content: "\e6e1";
}

.caise-yirenzheng:before {
  content: "\e6e2";
}

.caise-yilianjie:before {
  content: "\e6e3";
}

.caise-yunxiazai:before {
  content: "\e6e4";
}

.caise-jinzhiguankan:before {
  content: "\e6e5";
}

.caise-biaoqian:before {
  content: "\e6e6";
}

.caise-qiehuanyonghu:before {
  content: "\e6e7";
}

.caise-shanchuyonghu:before {
  content: "\e6e8";
}

.caise-fenzhi:before {
  content: "\e6e9";
}

.caise-weilianjie:before {
  content: "\e6ea";
}

.caise-Mac:before {
  content: "\e6c3";
}

.caise-oracle:before {
  content: "\e6c4";
}

.caise-Java:before {
  content: "\e6c5";
}

.caise-unix:before {
  content: "\e6c6";
}

.caise-python:before {
  content: "\e6c7";
}

.caise-php:before {
  content: "\e6c8";
}

.caise-Sybase:before {
  content: "\e6c9";
}

.caise-swift:before {
  content: "\e6ca";
}

.caise-mySQL:before {
  content: "\e6cb";
}

.caise-c1:before {
  content: "\e6cc";
}

.caise-informix:before {
  content: "\e6cd";
}

.caise-access:before {
  content: "\e6ce";
}

.caise-mongodb:before {
  content: "\e6cf";
}

.caise-PostgreSQL:before {
  content: "\e6d0";
}

.caise-SQLServer:before {
  content: "\e6d1";
}

.caise-c2:before {
  content: "\e6d2";
}

.caise-Linux:before {
  content: "\e6d3";
}

.caise-DB2:before {
  content: "\e6d4";
}

.caise-Windows:before {
  content: "\e6d5";
}

.caise-mianjitu:before {
  content: "\e6b3";
}

.caise-pubutu:before {
  content: "\e6b4";
}

.caise-tiaoxingtu:before {
  content: "\e6b5";
}

.caise-xiangxingtu:before {
  content: "\e6b6";
}

.caise-shangsheng:before {
  content: "\e6b7";
}

.caise-xiajiang:before {
  content: "\e6b8";
}

.caise-zhuzhuangtu:before {
  content: "\e6b9";
}

.caise-jijintu:before {
  content: "\e6ba";
}

.caise-dianzhuangtu:before {
  content: "\e6bb";
}

.caise-redutu:before {
  content: "\e6bc";
}

.caise-bingzhuangtu:before {
  content: "\e6bd";
}

.caise-leidatu:before {
  content: "\e6be";
}

.caise-huakuaitu:before {
  content: "\e6bf";
}

.caise-huanxingtu:before {
  content: "\e6c0";
}

.caise-zhexiantu:before {
  content: "\e6c1";
}

.caise-gupiaotu:before {
  content: "\e6c2";
}

.icon-shidi-Mac:before {
  content: "\e6a9";
}

.icon-shidi-unix:before {
  content: "\e6aa";
}

.icon-shidi-Windows:before {
  content: "\e6ab";
}

.icon-shidi-swift:before {
  content: "\e6ac";
}

.icon-shidi-php:before {
  content: "\e6ad";
}

.icon-shidi-Java:before {
  content: "\e6ae";
}

.icon-shidi-python:before {
  content: "\e6af";
}

.icon-shidi-c1:before {
  content: "\e6b0";
}

.icon-shidi-c2:before {
  content: "\e6b1";
}

.icon-shidi-Linux:before {
  content: "\e6b2";
}

.icon-shidi-mongodb:before {
  content: "\e6a0";
}

.icon-shidi-informix:before {
  content: "\e6a1";
}

.icon-shidi-oracle:before {
  content: "\e6a2";
}

.icon-shidi-Sybase:before {
  content: "\e6a3";
}

.icon-shidi-access:before {
  content: "\e6a4";
}

.icon-shidi-PostgreSQL:before {
  content: "\e6a5";
}

.icon-shidi-mySQL:before {
  content: "\e6a6";
}

.icon-shidi-DB2:before {
  content: "\e6a7";
}

.icon-shidi-SQLServer:before {
  content: "\e6a8";
}

.icon-shidi-weixiu:before {
  content: "\e68b";
}

.icon-shidi-yilianjie:before {
  content: "\e68c";
}

.icon-shidi-yirenzheng:before {
  content: "\e68d";
}

.icon-shidi-qiehuanyonghu:before {
  content: "\e68e";
}

.icon-shidi-yunxiazai:before {
  content: "\e68f";
}

.icon-shidi-yunshuju:before {
  content: "\e690";
}

.icon-shidi-yunshangchuan:before {
  content: "\e691";
}

.icon-shidi-biaoqian:before {
  content: "\e692";
}

.icon-shidi-erweima:before {
  content: "\e693";
}

.icon-shidi-xiaoxi:before {
  content: "\e694";
}

.icon-shidi-yonghu:before {
  content: "\e695";
}

.icon-shidi-dingwei:before {
  content: "\e696";
}

.icon-shidi-fenzhi:before {
  content: "\e697";
}

.icon-shidi-baojing:before {
  content: "\e698";
}

.icon-shidi-jinzhiguankan:before {
  content: "\e699";
}

.icon-shidi-guankan:before {
  content: "\e69a";
}

.icon-shidi-tianjiayonghu:before {
  content: "\e69b";
}

.icon-shidi-shanchuyonghu:before {
  content: "\e69c";
}

.icon-shidi-shoucang:before {
  content: "\e69d";
}

.icon-shidi-weirenzheng:before {
  content: "\e69e";
}

.icon-shidi-weilianjie:before {
  content: "\e69f";
}

.icon-shidi-huakuaitu:before {
  content: "\e64c";
}

.icon-shidi-zhexiantu:before {
  content: "\e64d";
}

.icon-shidi-mianjitu:before {
  content: "\e64e";
}

.icon-shidi-leidatu:before {
  content: "\e64f";
}

.icon-shidi-jijintu:before {
  content: "\e650";
}

.icon-shidi-huanxingtu:before {
  content: "\e651";
}

.icon-shidi-xiangxingtu:before {
  content: "\e652";
}

.icon-shidi-tiaoxingtu:before {
  content: "\e653";
}

.icon-shidi-redutu:before {
  content: "\e654";
}

.icon-shidi-zhuzhuangtu:before {
  content: "\e684";
}

.icon-shidi-xiajiang:before {
  content: "\e685";
}

.icon-shidi-shangsheng:before {
  content: "\e686";
}

.icon-shidi-gupiaotu:before {
  content: "\e687";
}

.icon-shidi-pubutu:before {
  content: "\e688";
}

.icon-shidi-dianzhuangtu:before {
  content: "\e689";
}

.icon-shidi-bingzhuangtu:before {
  content: "\e68a";
}

.icon-shidi-queren:before {
  content: "\e642";
}

.icon-shidi-shuoming:before {
  content: "\e643";
}

.icon-shidi-quxiao:before {
  content: "\e644";
}

.icon-shidi-jinzhi:before {
  content: "\e645";
}

.icon-shidi-zanting:before {
  content: "\e646";
}

.icon-shidi-jianqu:before {
  content: "\e647";
}

.icon-shidi-yiwen:before {
  content: "\e648";
}

.icon-shidi-jinggao:before {
  content: "\e649";
}

.icon-shidi-chulizhong:before {
  content: "\e64a";
}

.icon-shidi-tianjia:before {
  content: "\e64b";
}

.icon-xianxing-access:before {
  content: "\e675";
}

.icon-xianxing-Java:before {
  content: "\e676";
}

.icon-xianxing-unix:before {
  content: "\e677";
}

.icon-xianxing-swift:before {
  content: "\e678";
}

.icon-xianxing-Mac:before {
  content: "\e679";
}

.icon-xianxing-informix:before {
  content: "\e67a";
}

.icon-xianxing-c2:before {
  content: "\e67b";
}

.icon-xianxing-mySQL:before {
  content: "\e67c";
}

.icon-xianxing-Linux:before {
  content: "\e67d";
}

.icon-xianxing-PostgreSQL:before {
  content: "\e67e";
}

.icon-xianxing-Sybase:before {
  content: "\e67f";
}

.icon-xianxing-DB2:before {
  content: "\e680";
}

.icon-xianxing-SQLServer:before {
  content: "\e681";
}

.icon-xianxing-c1:before {
  content: "\e682";
}

.icon-xianxing-python:before {
  content: "\e683";
}

.icon-xianxing-oracle:before {
  content: "\e671";
}

.icon-xianxing-php:before {
  content: "\e672";
}

.icon-xianxing-Windows:before {
  content: "\e673";
}

.icon-xianxing-mongodb:before {
  content: "\e674";
}

.icon-xianxing-pubutu:before {
  content: "\e632";
}

.icon-xianxing-huakuaitu:before {
  content: "\e633";
}

.icon-xianxing-tiaoxingtu:before {
  content: "\e634";
}

.icon-xianxing-jijintu:before {
  content: "\e635";
}

.icon-xianxing-xiajiang:before {
  content: "\e636";
}

.icon-xianxing-gupiaotu:before {
  content: "\e637";
}

.icon-xianxing-huanxingtu:before {
  content: "\e638";
}

.icon-xianxing-xiangxingtu:before {
  content: "\e639";
}

.icon-xianxing-zhuzhuangtu:before {
  content: "\e63a";
}

.icon-xianxing-bingzhuangtu:before {
  content: "\e63b";
}

.icon-xianxing-zhexiantu:before {
  content: "\e63c";
}

.icon-xianxing-leidatu:before {
  content: "\e63d";
}

.icon-xianxing-dianzhuangtu:before {
  content: "\e63e";
}

.icon-xianxing-shangsheng:before {
  content: "\e63f";
}

.icon-xianxing-mianjitu:before {
  content: "\e640";
}

.icon-xianxing-redutu:before {
  content: "\e641";
}

.icon-xianxing-baojing:before {
  content: "\e622";
}

.icon-xianxing-guankan:before {
  content: "\e61e";
}

.icon-xianxing-weirenzheng:before {
  content: "\e61f";
}

.icon-xianxing-shanchuyonghu:before {
  content: "\e620";
}

.icon-xianxing-qiehuanyonghu:before {
  content: "\e621";
}

.icon-xianxing-yonghu:before {
  content: "\e623";
}

.icon-xianxing-yunxiazai:before {
  content: "\e624";
}

.icon-xianxing-yunshangchuan:before {
  content: "\e625";
}

.icon-xianxing-weixiu:before {
  content: "\e626";
}

.icon-xianxing-weilianjie:before {
  content: "\e627";
}

.icon-xianxing-jinzhiguankan:before {
  content: "\e628";
}

.icon-xianxing-dingwei:before {
  content: "\e629";
}

.icon-xianxing-tianjiayonghu:before {
  content: "\e62a";
}

.icon-xianxing-yunshuju:before {
  content: "\e62b";
}

.icon-xianxing-xiaoxi:before {
  content: "\e62c";
}

.icon-xianxing-biaoqian:before {
  content: "\e62d";
}

.icon-xianxing-erweima:before {
  content: "\e62e";
}

.icon-xianxing-fenzhi:before {
  content: "\e62f";
}

.icon-xianxing-shoucang:before {
  content: "\e630";
}

.icon-xianxing-yirenzheng:before {
  content: "\e631";
}

.icon-xianxing-yilianjie:before {
  content: "\e670";
}

.icon-xianxing-jianqu:before {
  content: "\e61b";
}

.icon-xianxing-tianjia:before {
  content: "\e61c";
}

.icon-xianxing-jinzhi:before {
  content: "\e655";
}

.icon-xianxing-queren:before {
  content: "\e656";
}

.icon-xianxing-quxiao:before {
  content: "\e658";
}

.icon-xianxing-chulizhong:before {
  content: "\e659";
}

.icon-xianxing-zanting:before {
  content: "\e65a";
}

.icon-xianxing-shuoming:before {
  content: "\e65b";
}

.icon-xianxing-jinggao:before {
  content: "\e66c";
}

.icon-xianxing-yiwen:before {
  content: "\e657";
}

.ops-dag-dashboard:before {
  content: "\e600";
}

.ops-dag-dashboard-selected:before {
  content: "\e601";
}

.ops-dag-applet-selected:before {
  content: "\e602";
}

.ops-dag-applet:before {
  content: "\e603";
}

.ops-dag-terminal:before {
  content: "\e604";
}

.ops-dag-terminal-selected:before {
  content: "\e605";
}

.ops-dag-cron:before {
  content: "\e606";
}

.ops-dag-cron-selected:before {
  content: "\e608";
}

.ops-dag-history:before {
  content: "\e609";
}

.ops-dag-history-selected:before {
  content: "\e60a";
}

.ops-dag-dags-selected:before {
  content: "\e60c";
}

.ops-dag-dagreview:before {
  content: "\e60d";
}

.ops-dag-dagreview-selected:before {
  content: "\e60e";
}

.ops-dag-panel:before {
  content: "\e60f";
}

.ops-dag-panel-selected:before {
  content: "\e615";
}

.ops-dag-variables:before {
  content: "\e616";
}

.ops-dag-variables-selected:before {
  content: "\e618";
}

.ops-dag-appletadmin:before {
  content: "\e65c";
}

.ops-dag-appletadmin-selected:before {
  content: "\e65d";
}

.ops-dag-dags:before {
  content: "\e60b";
}

.ops-dag-targetroute:before {
  content: "\e65f";
}

.ops-dag-holiday:before {
  content: "\e660";
}

.ops-dag-holiday-selected:before {
  content: "\e661";
}

.ops-dag-targetshortcut-selected:before {
  content: "\e662";
}

.ops-dag-targetroute-selected:before {
  content: "\e663";
}

.ops-dag-targetshortcut:before {
  content: "\e664";
}

.ops-dag-admingroup:before {
  content: "\e65e";
}

.ops-dag-admingroup-selected:before {
  content: "\e665";
}

.ops-admin:before {
  content: "\e666";
}

.dag-applet-untop:before {
  content: "\e667";
}

.dag-applet-top:before {
  content: "\e66a";
}

.cmdb-tree:before {
  content: "\e66b";
}

.cmdb-ci:before {
  content: "\e66d";
}

.cmdb-preference-subscribe:before {
  content: "\e66e";
}

.cmdb-preference-cancel-subscribe:before {
  content: "\e66f";
}

