<body xmlns="http://www.w3.org/1999/html">
<br>

<table dir="ltr" border="1" cellpadding="0"
       style="font-family:arial,sans-serif;font-size:13px; width:0;border-collapse:collapse;">
    <thead>
    <tr>
        <th>变更设备</th>
        <!--<th>来源</th>-->
        <th>变更字段</th>
        <th>原值</th>
        <th>变更值</th>
        <th>创建时间</th>
    </tr>
    </thead>
    <tbody>
    {%- for res in result %}
    {%- for v in res.get("values") %}
    <tr style="height: 20px">
        {%- if res.get("values").index(v) == 0 %}
        <td dir="ltr" rowspan="{{res.get('values') | length}}" style="min-width: 100px">
            {{res.get("ci_id")}}
        </td>
        {%- endif %}
        <td nowrap="" align="center" style="min-width:80px; padding-left:10px; text-align:left">
            {{ v.get('attr_name') }}
        </td>
        <td nowrap="" align="center" style="padding-left:10px; text-align:left">
            {{ v.get('cur_value') }}
        </td>
        <td nowrap="" align="center" style="padding-left:10px; text-align:left">
            {{ v.get('new_value') }}
        </td>
        <td nowrap="" align="center" style="padding-left:10px; text-align:left">
            {{ v.get('created_at') }}
        </td>

    </tr>
    {%- endfor %}
    {%- endfor %}
    </tbody>
</table>

<div>
    <p class="MsoNormal"><span style="font-family:宋体; background-color: yellowgreen"></span>
        <span lang="EN-US"><u></u><u></u></span>
        <a href="http://web.cmdb.dp/audit/">查看详情</a>
    </p>
    <br>
</div>
</body>
